<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServiceManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Alarm</servlet-name>
    <servlet-class>core.Alarm</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alarm</servlet-name>
    <url-pattern>/alarm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Monitor</servlet-name>
    <servlet-class>core.Monitor</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Monitor</servlet-name>
    <url-pattern>/monitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZabbixDriver</servlet-name>
    <servlet-class>zabbixdriver.ZabbixDriver</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZabbixDriver</servlet-name>
    <url-pattern>/zabbixDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewtonDriver</servlet-name>
    <servlet-class>OpenStackDriver.NewtonDriver</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewtonDriver</servlet-name>
    <url-pattern>/newtonDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomDriver</servlet-name>
    <servlet-class>customDriver.CustomDriver</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomDriver</servlet-name>
    <url-pattern>/customDriver</url-pattern>
  </servlet-mapping>
</web-app>